
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-left:350px;
  border: 2px solid red;
  
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  margin-left:350px;
  width: 50%;
  border: 1px solid #ddd;
  font-size: 18px;

 
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header{
  background-color: #490404;
  color: white;
}